version: "3.7"
services:
  app:
    build:
      args:
        user: snir
        uid: 1000
      context: ./
      dockerfile: Dockerfile
    image: laravoyager
    container_name: laravoyager-app
    # restart: unless-stopped
    working_dir: /var/www/
    volumes:
      - ./:/var/www
    networks:
      - laravoyager-network

  db:
    image: mariadb:10.5
    container_name: laravoyager-db
    # restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_USER: ${DB_USERNAME}
      SERVICE_TAGS: dev
      SERVICE_NAME: mysql
    volumes:
      - ./docker-compose/mysql:/docker-entrypoint-initdb.d
      # spe 
      #- dbdata:/var/lib/mysql
      - ./database/data:/var/lib/mysql
    networks:
      - laravoyager-network

  nginx:
    image: nginx:1.22-alpine
    container_name: laravoyager-nginx
    # restart: unless-stopped
    ports:
      - 8000:80
    volumes:
      - ./:/var/www
      - ./docker-compose/nginx:/etc/nginx/conf.d
    networks:
      - laravoyager-network

networks:
  laravoyager-network:
    driver: bridge

volumes:
  dbdata: